.wrapper {
    width: 413px;
    text-align: center;
    padding: 20px 0;

    margin: 60px auto;
}

.wrapper.success {
    box-shadow: 0 3px 3px -2px rgba(159,220,68,0.9),0 3px 4px 0 rgba(159,220,68,0.6),0 1px 8px 0 rgba(159,220,68,0.4);;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.formGroup {
    position: relative;
}

.formGroup button {
    position: absolute;
    top: 25px;
    right: 0;
}

.form .button {
    width: 90%;
    margin: 30px auto;
}

.tooltip {
    opacity: .5;
}

.redirect {
    color: #366EFF;
}

.error {
    color: red;
}

.success {
    color: #96b902;
    font-size: 22px;
}

@media screen and (max-width: 450px) {
    .wrapper {
        width: 100%;
    }
}




