.wrapper {
    width: 413px;
    text-align: center;
    padding: 20px 0;

    margin: 60px auto;
}


.form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.formGroup {
    position: relative;
}

.formGroup button {
    position: absolute;
    top: 25px;
    right: 0;
}

.form .button {
    width: 90%;
    margin: 30px auto;
}

.tooltip {
    opacity: .5;
}

.redirect {
    color: #366EFF;
}

.error {
    color: red;
}

@media screen and (max-width: 450px) {
    .wrapper {
        width: 100%;
    }
}




