.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}