.nav {
    height: 80px;
    background-color: #61dafb;
}

.header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.header a {
    transition: 0.2s all;
    text-decoration: none;
    text-transform: uppercase;
    color: #282c34;
    font-size: 14px;
    font-weight: 500;
}

.header a:hover {
    transform: scale(1.1);
}
