.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.formWrapper {
    padding: 30px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 413px;
    height: 372px;
    margin-top: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

.formWrapper p {
    margin-bottom: 40px;
}

.form {
    width: 100%;
}

.error {
    height: 20px;
    color: red
}