thead tr th.tableHead {
    background: rgb(239,239,239);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}
/* breadcrumbs */
.breadcrumbs {
    margin-top: 25px;
    color: #000;

    display: flex;
    align-items: center;
}

.breadcrumbs span {
    margin-left: 10px;
    line-height: 24px;
}

.title {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
}

